@font-face {
  font-family: "iconfont"; /* Project id  */
  src: url('iconfont.ttf?t=1627961847060') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-tingyong_line:before {
  content: "\e68c";
}

.icon-shuangxiangjiantou:before {
  content: "\e634";
}

.icon-daochu:before {
  content: "\e6b1";
}

.icon-adduser-btn:before {
  content: "\e617";
}

.icon-bianji-icon:before {
  content: "\e618";
}

.icon-userssettings:before {
  content: "\e619";
}

.icon-xianshi-icon:before {
  content: "\e61a";
}

